<div>
    <div class="row">
        <div class="col item-input item-stacked-label">
            <span class="input-label">{{::'addressPicker.countryTitle' | i18next}}</span>
            <input class="popup-field" type="text" ng-model="address.country">
        </div>
    </div>
    <div class="row">
        <div class="col item-input item-stacked-label">
            <span class="input-label">{{::'addressPicker.cityTitle' | i18next}}</span>
            <input class="popup-field" type="text" ng-model="address.city">
        </div>
    </div>
    <div class="row">
        <div class="col item-input item-stacked-label">
            <span class="input-label">{{::'addressPicker.streetTitle' | i18next}}</span>
            <input class="popup-field" type="text" ng-model="address.street">
        </div>
    </div>
    <div class="row">
        <div class="col col-50 item-input item-stacked-label">
            <span class="input-label">{{::'addressPicker.houseTitle' | i18next}}</span>
            <input class="popup-field" type="text" ng-model="address.homeNumber">
        </div>
        <div class="col col-50 item-input item-stacked-label">
            <span class="input-label">{{::'addressPicker.flatShortTitle' | i18next}}</span>
            <input class="popup-field" type="text" ng-model="address.kvNumber">
        </div>
    </div>
</div>