<ion-view>
    <ion-nav-bar class="bar bar-header">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content overflow-scroll="false">
        <div>
            <p>{{'orderView.things' | i18next}}</p>
        </div>
        <ion-list id="list">
            <ion-div ng-repeat="item in items" >
                <a class="button button-category" ng-click="addOrder(item)" href="#/tab/subcateg">{{item.Title}}</a>
            </ion-div>
        </ion-list>
    </ion-content>
</ion-view>