<ion-view>
    <ion-nav-bar class="bar bar-header">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content overflow-scroll="false">
        <div>
            <p>{{category}}</p>
        </div>
        <ion-list id="list">
            <ion-item ng-repeat="item in items">
                <a class="button button-block icon icon-right ion-chevron-right" ng-click="addOrder(item)" href="#/tab/addorder">{{item.Title}}</a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>