<ion-view view-title="{{::'tabs.tab-order-title' | i18next}}">
    <ion-content overflow-scroll="false">
  
            <p>{{'orderview.question' | i18next}}</p>
            <div class="buttons">

                    <div class="row">
                        <a class="button button_order" ng-click="setThing()" href="#/tab/thing">
                            <svg class="thing-svg thing_service-svg-context" viewBox="0 0 50 50"></svg>
                            {{'orderview.thing' | i18next}}
                        </a>
                    </div>
                    <div class="row">
                        <a class="button button_order" ng-click="setService()" href="#/tab/service">
                            <svg class="service-svg thing_service-svg-context" viewBox="0 0 50 50"></svg>
                            {{'orderview.service' | i18next}}
                        </a>
                    </div>      
            </div>
</ion-content>
</ion-view>