<ion-view view-title="{{::'tabs.tab-order-title' | i18next}}">
    <ion-content overflow-scroll="false">
            <p>{{'orderView.question' | i18next}}</p>
            <div class="buttons">
                    <div class="row">
                        <a class="button button_order" href="#/tab/thing">
                            <svg class="thing-svg thing_service-svg-context" viewBox="0 0 50 50"></svg>
                            {{'orderView.thing' | i18next}}
                        </a>
                    </div>
                    <div class="row">
                        <a class="button button_order" href="#/tab/service">
                            <svg class="service-svg thing_service-svg-context" viewBox="0 0 50 50"></svg>
                            {{'orderView.service' | i18next}}
                        </a>
                    </div>      
            </div>
</ion-content>
</ion-view>