<ion-view view-title="{{::'tabs.tab-account-title' | i18next}}">
    <ion-content overflow-scroll="false">
        <div>
            <div class="row">
                <div class="col userpic">
                    <div class="avatar">
                        <img src="../../../css/images/avatar.png" width="150" height="150"/>
                    </div>
                </div>
                <div class="col UserName">
                    <h2>Имя Фамилия</h2>
                </div>
            </div>
            <div class="UserData">
                <h3>Контактные данные</h3>
            </div>
            <div class="row">
                <div class="col">
                    <p>Мобильный телефон</p>
                    <h4>8 922 888 88 88</h4>
                    <p>Электронная почта</p>
                    <h4>@mail.ru</h4>
                </div>
                <div class="col">
                    <p>Мой адрес:</p>
                    <h4>Город:</h4>
                    <h4>Улица:</h4>
                    <h4>Дом: Квартира:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a class="button LC" style="color:#000000" href="#/tab/list_activ">0<br>Активные</a>
                </div>
                <div class="col">
                    <a class="button LC" style="color:#000000" href="#/tab/list_and">0<br>Завершенные</a>
                </div>
                <div class="col">
                    <a class="button LC" style="color:#000000" href="#/tab/reviews">0<br>Отзывы</a>
                </div>
            </div>
        </div> 
    </ion-content>
</ion-view>