<ion-view view-title="{{'loginview.signup' | i18next}}">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input placeholder="{{'loginview.userName' | i18next}}" type="text" ng-model="username">
            </label>
            <label class="item item-input">
                <input placeholder="{{'loginview.email' | i18next}}" type="email" ng-model="email">
            </label>
            <label class="item item-input">
                <input placeholder="{{'loginview.password' | i18next}}" type="password" ng-model="password">
            </label>
            <label class="item item-input">
                <input placeholder="{{'loginview.confirmPassword' | i18next}}" type="password" ng-model="confirmPassword">
            </label>
            <div class="item item-input">
                <input placeholder="{{'loginview.captcha' | i18next}}" type="password" ng-model="captchaValue">
                <img class="captcha" ng-src="{{captchaPath}}">
                <a class="button button-icon icon ion-android-refresh" ng-click="reloadCaptcha()"></a>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" ng-click="login(username, password)">
                    {{'loginview.signup' | i18next}}
                </button>
            </div>

        </div>
    </ion-content>
</ion-view>