<ion-view>
    <ion-nav-bar class="bar bar-header">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content overflow-scroll="false">
        <div class="center">
            <label class="title">
                <p>{{'loginView.signup' | i18next}}</p>
            </label>

            <p id="sugnupImage">
                <svg class="signup-svg" viewBox="0 0 130 127"></svg>
            </p>

            <input class="input-text" placeholder="{{'loginView.userName' | i18next}}" type="email" ng-model="username">
            <input class="input-text" placeholder="{{'loginView.email' | i18next}}" type="email" ng-model="email">
            <input class="input-text" placeholder="{{'loginView.password' | i18next}}" type="password" ng-model="password">
            <input class="input-text" placeholder="{{'loginView.confirmPassword' | i18next}}" type="password" ng-model="confirmPassword">

            <div class="item item-input">
                <input placeholder="{{'loginView.captcha' | i18next}}" type="password" ng-model="captchaValue">
                <img class="captcha" ng-src="{{captchaPath}}">
                <a class="button button-icon ion-android-refresh" ng-click="reloadCaptcha()"></a>
            </div>

            <button id="signup-button" ng-click="login(username, password)">
                {{'loginView.continue' | i18next}}
            </button>
        </div>
    </ion-content>
</ion-view>