.button_order{
    text-decoration:none;
 width:100%;
 border:none; 
 font:20px Open Sans Italic, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#000000; 
 background:#ffffff; 
 padding:20px 0px 20px 4px;
 }
    .button_order:active {
        width: 100%;
        border: none;
        padding:20px 0px 20px 4px;
        font: 20px Open Sans Italic, Helvetica, sans-serif;
        font-weight: bold;
        color: #000000;
        background-color: #ffffff;
        background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
        background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
        background-image: -o-linear-gradient(top, #ffffff 0%, #ffffff 100%);
        background-image: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
        background-image: linear-gradient(top, #ffffff 0%,#ffffff 100%);
    }
.buttons{
 padding:100px 0px 0px 0px; 
        }
.thing_service-svg-context {
    width: 20%;
    margin: auto;
}

.service-svg {
    background-image: url('images/УСЛУГИ.svg');
    vertical-align:middle;
}

.thing-svg {
    background-image: url('images/ВЕЩИ.svg');
    vertical-align:middle;
}