<ion-view view-title="{{::'settingsView.title' | i18next}}">
    <ion-content overflow-scroll="false">
        <div>
            <button class="button button-block icon-right ion-ios-telephone-outline">
                {{'settingsView.phone' | i18next}}
            </button>
            <button class="button button-block icon-right ion-location">
                {{'settingsView.location' | i18next}}
            </button>
            <button class="button button-block icon-right ion-chevron-right">
                {{'settingsView.notice' | i18next}}
            </button>
            <button class="button button-block icon-right ion-chevron-right">
                {{'settingsView.private' | i18next}}
            </button>
            <button class="button button-block icon-right ion-chevron-right">
                {{'settingsView.bonus' | i18next}}
            </button>
            <button class="button button-block icon-right ion-chevron-right">
                {{'settingsView.support' | i18next}}
            </button>
            <button class="button button-block">
                {{'settingsView.terms_of_us' | i18next}}
            </button>
        </div>
        <button class="button button-block">{{'settingsView.exit' | i18next}}</button>
    </ion-content>
</ion-view>