<ion-view view-title="{{::'settings.title' | i18next}}">>
    <ion-content>
        <div>
            <button class="button button-block icon-right icon ion-ios-telephone-outline">
                {{'settings.phone' | i18next}}
            </button>
            <button class="button button-block icon-right icon ion-location">
                {{'settings.location' | i18next}}
            </button>
            <button class="button button-block icon-right ion-chevron-right">
                {{'settings.notice' | i18next}}
            </button>
            <button class="button button-block icon-right ion-chevron-right">
                {{'settings.private' | i18next}}
            </button>
            <button class="button button-block icon-right ion-chevron-right">
                {{'settings.bonus' | i18next}}
            </button>
            <button class="button button-block icon-right ion-chevron-right">
                {{'settings.support' | i18next}}
            </button>
            <button class="button button-block">
                {{'settings.terms_of_us' | i18next}}
            </button>
        </div>
        <button class="button button-block">{{'settings.exit' | i18next}}</button>
    </ion-content>
</ion-view>